.card-parent{
    background-color: #354759;
    color: #e5e7ea;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }
  .see-details-btn{
    color: #e5e7ea;
  }
  .see-details-btn:hover{
    color: #fff;
  }