<div class="left-sidebar-wrapper" id="leftSidebar">
    <div class="pt-2">
      <h3 class="dashboard-name text-center hide-text">Al-Quran</h3>
    </div>
    <div class="list-group list-group-flush sidebar-item">
      <a href="#" class="list-group-item list-group-item-action bg-transparent d-flex align-items-center">
        <i class="fa-solid fa-book-quran pe-2"></i>
        <span class="hide-text">Get A Surah</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent d-flex align-items-center">
        <i class="fa-solid fa-bookmark pe-2"></i>
        <span class="hide-text">Gett an Ayah</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent d-flex align-items-center">
        <i class="fa fa-search pe-2" aria-hidden="true"></i>
        <span class="hide-text">Search Text</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent d-flex align-items-center">
        <i class="fa-solid fa-book pe-2"></i>
        <span class="hide-text">Get A Page</span>
      </a>
    </div>
  </div>